body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul li a {
    display: block;
    color: black ;
    padding: 8px 14px;
    text-decoration: none !important;
  }

  li a i {
    color: black;
  }
  
  li a:hover {
    background-color: #c0bebe;
    color: black;
  }
  
.mycontent {
    padding-top:10px;
    background-color: #f1f1f1;
    margin-left: 290px;
    margin-top: 60px;
}
.mysidebar {
    width: 290px;
    position: fixed;
    height: 100%;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

ul.links li a i {
    margin-right: 15px;
}
.active {
    background-color: #2196f3;
    color: white;
}
a.active i {
    color: white;
}

.mynavbar {
    left:290px;
    padding:1px 16px;
    height: 60px;
    background-color: black;
}

tr:nth-of-type(odd) {
  background-color: white;
}
.progress {
  background-color: #9e9e9e;
}

.dd {
    margin-bottom: 15px;
    border-bottom: 8px solid;
    padding-bottom: 7px;
}

.green-b{
  border-bottom-color:#4caf50;
}

.red-b{
  border-bottom-color:#f44336;
}
.orange-b{
  border-bottom-color:#ff9800;
}
h4 {
  font-size: 1rem;
}

.table tr td {
  border: 0px;
  padding: 12px 10px;
}
.card {
  border: 0px solid;
}

@media screen and (max-width: 992px) {
  .mysidebar{
    display: none;
  }
  .mynavbar {
    left:0px;
  }
  .mycontent {
    margin-left: 0px;
  }
}